* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #ccc6c6;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
/* end of globals */
/* Login && Registration */

html, body, #root {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.root-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box-controller {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 24em;
  min-width: 21em;
  height: 35px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
  margin-bottom: 30px;
  align-items: center;
  transition: visibility 0.5s ease-out;
}
.controller {
  flex: 1;
  text-align: center;
  height: 100%;
  line-height: 2;
  cursor: pointer;
}
.selected-controller {
  transition: border 0.5s ease-out;
  border-bottom: 2px solid #70a1ff;
}
.box-container {
  display: flex;
  flex-direction: column;
  max-width: 24em;
  min-width: 21em;
  box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
  border-radius: 6px;
  padding: 24px;
}
.inner-container {
  transition: visibility 0.2s ease-out;
}
.inner-container.show {
  visibility: visible;
}
.header {
  text-align: center;
  padding: 5px;
  margin-bottom: 17px;
 /* margin-left: 35px;
  */
 /* margin-right: 35px;
  */
  font-family: Ozxgen, sans-serif;
  font-size: 22px;
  border-bottom: 2px solid #70a1ff;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.input-group {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
}
.login-label {
  font-family: Oxygen, sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding-left: 5px;
}
.login-input {
  height: 2.1em;
  border-radius: 3px;
  border: 1px solid #70a1ff;
  transition: border 0.4s ease-out;
  padding: 13px;
  font-family: Oxygen, sans-serif;
  font-size: 19px;
  color: #3e3e42;
  background: rgba(15, 15, 15, 0.01);
}
.login-input:hover {
  border: 2px solid #70a1ff;
}
.login-input:focus {
  border: 2px solid #6565e7;
  box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.2);
}
.login-input::placeholder {
  font-family: Oxygen, sans-serif;
  font-size: 16px;
  color: rgba(15, 15, 15, 0.4);
}
.login-btn {
  padding: 2px 30px;
 /* background-color: #417cef;
  */
  border: 0;
  font-size: 18px;
  border-radius: 3px;
  font-family: Oxygen, sans-serif;
  background-color: rgba(15, 15, 15, 0.03);
  margin-top: 20px;
  border: 2px solid #417cef;
  transition: background-color 0.3s ease-out;
  cursor: pointer;
}
.login-btn:hover, .login-btn:focus {
  background-color: #417cef;
  color: white;
}
.danger-error {
  color: #e74c3c;
  font-size: 16px;
}
.password-state {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.pwd {
  height: 6px;
  flex: 1;
  visibility: hidden;
}
.pwd-weak {
  background-color: #e74c3c;
}
.pwd-medium {
  background-color: #3498db;
}
.pwd-strong {
  background-color: #2ecc71;
}
.show {
  visibility: visible;
}


/* End of login and registration*/
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 0.75rem 2rem;
  background: var(--offWhite);
  z-index: 1;
}

.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.to-side {
  float: right;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--primaryColor);
}

.show-nav {
  height: 100px;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}
/* end of navbar */
/* Hero */
.defaultHero{
  min-height: calc(100vh - 66px);
  background: url("./images/back-image.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.companiesHero {
  background-image: url("./images/companies_background.jpg");
  min-height: calc(100vh - 66px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.profilesHero {
  background-image: url("./images/defaultBcg.jpeg");
  min-height: calc(100vh - 66px);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* End of Hero */
/* Banner */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */
/* Title */
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}
/* end of Title */

/* services */
.services {
  padding: 5rem 0;
}
.services {
  background: var(--mainWhite);
  text-align: center;
}
.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.service span {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.services h6 {
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}
.services p {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}
/*end of services */

/* featured rooms */
.featured-rooms {
  padding: 5rem 0;
}
.featured-rooms-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
@media screen and (min-width: 776px) {
  .featured-rooms-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .featured-rooms-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end pf featured rooms */
/* room */
.room {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}
.room:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}
.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}
.price-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}
.room-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .price-top {
  opacity: 0;
}
.img-container:hover .room-link {
  transform: translate(-50%, -50%) scale(1);
}
.room-info {
  background: var(--darkGrey);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}
/* end of room  */
/* single room*/

.single-room {
  padding: 5rem 0 0 0;
}
.single-room-images {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.logo-image {
  width: 50px;
  height: 40px;
  display: block;
  display: grid;
}
.single-room-images img {
  width: 100%;
  display: block;
}
.single-room-info {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}
.desc,
.info {
  margin: 1rem 0;
  margin-bottom: 0px;
}
.links
{
  margin-bottom: 0px;
}
.desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.desc p {
  line-height: 1.5;
}
.info h3,
.info h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.info h6 {
  font-weight: 300;
}
.room-extras {
  width: 80vw;
  margin: 0 auto 3rem auto;
}
.room-extras h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}
@media screen and (min-width: 992px) {
  .single-room-images,
  .single-room-info,
  .room-extras {
    width: 95vw;
    max-width: 1170px;
  }
  .single-room-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .info {
    padding-left: 3rem;
  }
  .title-profile-poste{
    font-size: 1em;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(0, 160, 61);
  }
  .title-linkedin-lien{
    font-size: 1em;
    margin-bottom: 50px;
    font-weight: bold;
    color: rgb(78, 160, 255);
  }
}
/* end of single room*/
/* roomlist */
.roomslist {
  padding: 5rem 0;
}
.roomslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
  .roomslist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .roomslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of roomlist */
/*  rooms fitler*/
.filter-container {
  padding: 5rem 0;
}
.filter-form {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
.form-group {
  text-transform: capitalize;
}
.form-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}
.form-control {
  width: 100%;
  background: transparent;
  font-size: 1rem;
}
.size-inputs {
  display: flex;
}
.size-input {
  width: 40%;
  padding: 0.2rem;
  border: 1px solid var(--mainBlack);
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}
.single-extra label {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
@media screen and (min-width: 776px) {
  .filter-form {
    width: 70vw;
  }
}
@media screen and (min-width: 992px) {
  .filter-form {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of rooms fitler*/
/*Login Page*/

.error-message{
  offset: '30px';
  color: #e74c3c;
}
/* end of Login Page*/
/*register Page*/
.register-message{
  background: var(--darkGrey);
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
  width:"400";
  height:"300";
}
.close-register-message{
  padding-top: 150px;
  color:  #e74c3c;
}
.mdb-class{
  background-color:var(--offWhite);
  font-size: small;
  font-family: "Helvetica Neue";
  padding: 20px;
}
.footer-column {
  float: left;
  width: 33.33%;
  padding-left: 5px;
  text-align: left;
}
@media screen and (max-width: 600px) {
  .footer-column {
    width: 100%;
  }
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.footer-link{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
}
.footer-title{
  padding-top: 20px;
  text-align: center;
  font-size: larger;
}
.footer-icons{
  text-align: center;
  font-size: 2rem;
}
.footer-icons-padding{
  padding-right: 10px;
}


/*start edit profile*/

.update-profile-bloc{
  margin: 10px;
}
.button-center-horizental{
  float: right;
}
.card-margin-top{
  margin-top: 50px;
}
.big-card-margin-top{
  padding: 10px;
  margin-top: 80px;
}
.card-small-margin-top{
  margin-top: 20px;
}

.rounded-circle{
  width: 100px;
  height: 100px;
  margin-top: 30px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

/* css class for the edit profile generated errors */
.profilepress-edit-profile-status {
width: 400px;
text-align: center;
background-color: #e74c3c;
color: #ffffff;
border: medium none;
border-radius: 4px;
font-size: 17px;
font-weight: normal;
line-height: 1.4;
padding: 8px 5px;
margin: auto;
}

.memo-edprofile-success {
width: 400px;
text-align: center;
background-color: #2ecc71;
color: #ffffff;
border: medium none;
border-radius: 4px;
font-size: 17px;
font-weight: normal;
line-height: 1.4;
padding: 8px 5px;
margin: auto;
}
/*width: 400px;*/ 
#sc-edprofile {
background: #f0f0f0;
margin: 0 auto;
margin-top: 8px;
margin-bottom: 2%;
transition: opacity 1s;
-webkit-transition: opacity 1s;
}

#sc-edprofile h1 {
background: #3399cc;
padding: 20px 0;
font-size: 140%;
font-weight: 300;
text-align: center;
color: #fff;
}

div#sc-edprofile .sc-container {
background: #f0f0f0;
/*padding: 6% 4%;*/
margin-top: 20px;
margin-bottom: 20px;
text-align: center;
align-content: center;
}

div#sc-edprofile input[type="email"],
div#sc-edprofile input[type="text"],
div#sc-edprofile input[type="password"], div#sc-edprofile select, div#sc-edprofile textarea {
width: 92%;
background: #fff;
margin-bottom: 4%;
border: 1px solid #ccc;
padding: 4%;
font-family: 'Open Sans', sans-serif;
font-size: 95%;
color: #555;
}

div#sc-edprofile select {
width: 100%;
}

div#sc-edprofile textarea {
height: 100px;
}

div#sc-edprofile input[type="submit"] {
width: 100%;
background: #3399cc;
border: 0;
padding: 4%;
font-family: 'Open Sans', sans-serif;
font-size: 100%;
color: #fff;
cursor: pointer;
/*transition: background .3s;
-webkit-transition: background .3s;*/
}

div#sc-edprofile input[type="submit"]:hover {
background: #e74c3c;
}
.edit-profile-image{
  padding-top: 5px;
  width: 360px;
  height: 360px;
  background: url("http://ctt.trains.com/sitefiles/images/no-preview-available.png") center/cover no-repeat}

  .update-profile-column {
    float: left;
    width: 50%;
    padding-left: 5px;
    text-align: left;
  }
  @media screen and (max-width: 600px) {
    .footer-column {
      width: 100%;
    }
  }
  /* Clear floats after the columns */
  .update-profile-row:after {
    display: table;
    clear: both;
  }
  .update-profile-title{
    width: 100%;
    background: #ccc;
    border: 0;
    text-align: center;
    padding: 4%;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    cursor: pointer;
  }
  .update-profile-image-title{
    padding-bottom: 10px;
    text-align: left  ;
    
    color: #e74c3c;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
  }
  .update-profile-footer{
    width: 100%;
    height: 100%;
    background: #3399cc;
    padding: 4%;
  }

  .fileInput{
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
  }

  .imgPreview{
  text-align: center;
  padding: 10px;
  margin: 15px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  }
  img{
    width: 100%;
    height: 100%;
  }
  .centerText{
    text-align: center;
    width: 500px;
  }
  .validateupdatingprofile{
    margin-bottom: 20px;
    margin-top: 70px;
  }

  /* slider && sliderArrow */

  /*.App {
    text-align: center;
  }
   
  .App-logo {
    height: 40vmin;
  }
   
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
   
  .App-link {
    color: #09d3ac;
  }
   
  body{
    background: #09d3ac;
  }
   */

   .event-img{
     width:1000px;
     height:400px
  }
  
  .slides {
    position: relative;
  }
  
  .slides .slick-prev,
  .slides .slick-next {
    position: absolute;
    width: 46px;
    height: 46px;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-size: 46px;
    content: '';
    opacity: 1;
  }
  
  .slides .slick-prev {
    left: 5px;
  }
  
  .slides .slick-next {
    right: 5px;
  }

  .center-statistics{
    padding: 100px;
  }